[submodule "pcb/lib/KiCad-RP-Pico"]
	path = pcb/lib/KiCad-RP-Pico
	url = https://github.com/ncarandini/KiCad-RP-Pico
[submodule "pcb/lib/kicad-rpiz-uhat-template"]
	path = pcb/lib/kicad-rpiz-uhat-template
	url = https://github.com/rkprojects/kicad-rpiz-uhat-template
[submodule "src/lib/pico-sdk"]
	path = src/lib/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk
[submodule "src/lib/freeRTOS-Kernel"]
	path = src/lib/freeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel
	branch = smp
[submodule "src/lib/spi_sdcard"]
	path = src/lib/spi_sdcard
	url = https://github.com/carlk3/no-OS-FatFS-SD-SDIO-SPI-RPi-Pico
